.delivery {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #222222;
  background-image: url("../img/background_delivery.png");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center; }
  .delivery .delivery__container {
    display: flex;
    position: relative;
    top: 25%;
    flex-direction: column; }
    @media screen and (max-width: 768px) {
      .delivery .delivery__container {
        top: 0; } }
    .delivery .delivery__container .delivery__title-txt {
      text-align: center;
      color: #f9b43b;
      font-family: 'gagalin';
      font-size: 4.5rem;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 2.5rem; }
    .delivery .delivery__container .delivery__orderform {
      display: flex;
      flex-direction: row; }
      @media screen and (max-width: 768px) {
        .delivery .delivery__container .delivery__orderform {
          flex-direction: column;
          align-items: center; } }
      .delivery .delivery__container .delivery__orderform .orderform-address-list {
        display: flex;
        flex-wrap: wrap;
        width: 30rem;
        height: 12.875rem; }
        @media screen and (max-width: 768px) {
          .delivery .delivery__container .delivery__orderform .orderform-address-list {
            margin-bottom: 1.25rem; } }
        .delivery .delivery__container .delivery__orderform .orderform-address-list .address-list-row {
          display: flex;
          flex-direction: row; }
          .delivery .delivery__container .delivery__orderform .orderform-address-list .address-list-row .address-item {
            display: block;
            margin-bottom: 1.25rem;
            margin-right: 1.25rem; }
            .delivery .delivery__container .delivery__orderform .orderform-address-list .address-list-row .address-item .address-item-title {
              font-family: 'ubuntu';
              font-size: 0.875rem;
              font-weight: 300;
              color: #ffffff;
              margin-bottom: 0.3125rem; }
            .delivery .delivery__container .delivery__orderform .orderform-address-list .address-list-row .address-item .address-item-autorization {
              width: 13.8125rem;
              height: 2.1875rem;
              border-radius: 0.3125rem;
              border-style: none;
              padding-left: 0.625rem;
              outline-color: #f9b43b; }
            .delivery .delivery__container .delivery__orderform .orderform-address-list .address-list-row .address-item .street {
              width: 28.75rem; }
            .delivery .delivery__container .delivery__orderform .orderform-address-list .address-list-row .address-item .apartment {
              width: 6.25rem; }
      .delivery .delivery__container .delivery__orderform .orderform-additional-list {
        display: flex;
        flex-wrap: wrap;
        width: 30rem; }
        .delivery .delivery__container .delivery__orderform .orderform-additional-list .additional-list-row {
          display: flex;
          flex-direction: row; }
          .delivery .delivery__container .delivery__orderform .orderform-additional-list .additional-list-row .additional-item {
            display: block;
            margin-bottom: 1.25rem; }
            .delivery .delivery__container .delivery__orderform .orderform-additional-list .additional-list-row .additional-item .additional-title {
              font-family: 'ubuntu';
              font-size: 0.875rem;
              font-weight: 300;
              color: #ffffff;
              margin-bottom: 0.3125rem; }
            .delivery .delivery__container .delivery__orderform .orderform-additional-list .additional-list-row .additional-item .additional-item-autorization {
              width: 28.75rem;
              height: 6.8125rem;
              border-radius: 0.3125rem;
              border-style: none;
              padding-left: 0.625rem;
              padding-top: 0.3125rem;
              outline-color: #f9b43b; }
            .delivery .delivery__container .delivery__orderform .orderform-additional-list .additional-list-row .additional-item .additional-radio {
              margin: 0;
              margin-right: 0.625rem;
              display: none; }
            .delivery .delivery__container .delivery__orderform .orderform-additional-list .additional-list-row .additional-item .radio__idicator {
              display: inline-block;
              width: 1rem;
              height: 1rem;
              border: 1px #fff solid;
              background-color: #fff;
              border-radius: 50%;
              cursor: pointer;
              margin-right: 10px;
              position: relative; }
            .delivery .delivery__container .delivery__orderform .orderform-additional-list .additional-list-row .additional-item .additional-radio:checked + .radio__idicator::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 0.5rem;
              height: 0.5rem;
              background-color: #e35028;
              border-radius: 50%; }
            .delivery .delivery__container .delivery__orderform .orderform-additional-list .additional-list-row .additional-item .additional-radio-txt {
              font-family: 'ubuntu';
              font-size: 0.875rem;
              font-weight: 300;
              color: #ffffff;
              margin-right: 1.25rem; }
            .delivery .delivery__container .delivery__orderform .orderform-additional-list .additional-list-row .additional-item .additional-check {
              display: none; }
            .delivery .delivery__container .delivery__orderform .orderform-additional-list .additional-list-row .additional-item .checkbox__indicator {
              display: inline-block;
              position: relative;
              width: 0.75rem;
              height: 0.75rem;
              border: 1px #fff solid;
              background-color: #fff;
              border-radius: 0.125rem;
              margin-right: 0.625rem; }
            .delivery .delivery__container .delivery__orderform .orderform-additional-list .additional-list-row .additional-item .additional-check:checked + .checkbox__indicator::before {
              content: "\2714";
              position: absolute;
              top: -0.8125rem;
              left: -0.0625rem;
              font-size: 1.25rem;
              color: #e35028; }
            .delivery .delivery__container .delivery__orderform .orderform-additional-list .additional-list-row .additional-item .additional-submit-container {
              display: block;
              margin-top: 0.625rem;
              min-width: 46.25rem;
              clear: both; }
              .delivery .delivery__container .delivery__orderform .orderform-additional-list .additional-list-row .additional-item .additional-submit-container .additional-submit {
                margin-right: 1.25rem;
                width: 6.0625rem;
                height: 2.1875rem;
                background-color: #e35028;
                border-radius: 0.3125rem;
                border: none;
                color: #ffffff; }

/*# sourceMappingURL=delivery.css.map */
