@import "./function.scss";

.feedback {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.feedback__list {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;

    @include tablets {
        height: 100%;
    }
}

.feedback__item {
    display: flex;
    position: relative;
    height: 50%;
    width: 25%;
    cursor: pointer;
    border: 1px solid black;
    background: grey;

    @include tablets {
        width: 50%;
        height: 25%;
    }
    @include phones {
        width: 50%;
        height: 25%;
    }
}

.feed__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: grey;
    opacity: .5;

    &-one {
        background: url(../img/fdbck__person1.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-two {
        background: url(../img/fdbck__person2.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-three {
        background: url(../img/fdbck__person3.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-four {
        background: url(../img/fdbck__person4.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-five {
        background: url(../img/fdbck__person5.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-six {
        background: url(../img/fdbck__person6.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-seven {
        background: url(../img/fdbck__person7.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-eight {
        background: url(../img/fdbck__person8.png) no-repeat;
        background-size: cover;
        background-position: center;
    }   
}

.feedback__info {
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding: 0 rem(20px) 0 rem(20px);
    height: 100%;
    width: 100%;
    background: rgba(80, 80, 80, .7);

    &:hover {
        background: rgba(80, 80, 80, 0);
    }
}
         
.feedback__title {
    color: #ffffff;
    font-family: 'gagalin';
    font-size: rem(16px);
    font-weight: 400;
    text-transform: uppercase;
    opacity: 1;

    @include tablets {
        padding-bottom: rem(20px);
    }
    @include phones {
        padding: rem(20px) rem(20px);
    }
}
.feedback__text {
    color: #ffffff;
    font-family: 'ubuntu';
    font-size: rem(14px);
    line-height: rem(24px);
    opacity: 1;
    font-weight: 300; 
    padding-bottom: rem(20px);

    @include tablets {
        display: none;
        padding: rem(20px) rem(20px);
    }

    @include phones {
        display: none;
        line-height: rem(18px);
    }
}
                    
.feedback_button {
    background-color: #e45028;

    @include tablets {
        margin: rem(20px) rem(20px);
    }

    @include phones {
        margin: rem(20px) rem(20px);
    }
}

.button {
    background-color: #e45028;
}
.popup {
    display: flex;
    position: absolute;
    width: 80%;
    height: 30%;
    top: 50%;
    left: 50%;
    padding: 2% 5%;
    background:  rgb(49, 49, 49);
    z-index: 10;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    visibility: hidden;
    border-radius: 3%;

    @include phones {
        font-size: 7px;
        height: 40%;
    }

    &__close {
        position: absolute;
        background-color: #e45028;
        border-radius: 2px;
        border: 0;
        right: 10px;
        top: 10px;
        color: #fff;
        font-size: 20px;
        width: 45px;
        height: 25px;
    }
    &__title {
        color: #fff;
        font-size: 20px;
        margin-bottom: 20px;
    }
    &__text {
        color: #fff;
        font-size: 15px;
        font-weight: 300;
    }

    &--active {
        visibility: visible;
    }
}