@import "./function.scss";

.feedback {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.feedback__list {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;

    @include tablets {
        height: 50%;
    }
}

.feedback__item {
    display: flex;
    position: relative;
    height: 50%;
    width: 25%;

    @include tablets {
        width: 50%;
        height: 50%;
    }
}

.feedback__item-pict {
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.feedback__item-block {
    display: none;
}
                
.feedback__item-name {
    color: #ffffff;
    font-family: 'gagalin';
    font-size: rem(16px);
    font-weight: 400;
    text-transform: uppercase;
    opacity: 1;

    @include tablets {
        padding: rem(20px) rem(20px);
    }
    @include phones {
        padding: rem(20px) rem(20px);
    }
}
.feedback__item-text {
    color: #ffffff;
    font-family: 'ubuntu';
    font-size: rem(14px);
    line-height: rem(24px);
    opacity: 1;
    font-weight: 300; 
    padding-bottom: rem(20px);

    @include tablets {
        display: none;
        padding: rem(20px) rem(20px);
    }

    @include phones {
        display: none;
        line-height: rem(18px);
    }
}
                    
.feedback_button {
    background-color: #2f3234;

    @include tablets {
        margin: rem(20px) rem(20px);
    }

    @include phones {
        margin: rem(20px) rem(20px);
    }
}

.feedback__item:hover .feedback__item-block {
    display: block;
    padding: rem(20px) rem(20px) 0 rem(20px);
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 2;
    transition: .9s;

    @include phones {
        padding: rem(5px);
    }        
}

.feedback__item:hover::after {
    content: "";
    display: block;
    position: absolute;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
    width: 100%;
    height: 100%;
}