@import "./function.scss";

.ingredients {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../img/background_3.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.ingredients__container {
    display: flex;
    position: relative;
    max-width: 940px;
    height: 100%;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}   
.ingridients__slider {
    width: 100%;
    position: relative;
}
.ingridients__wrapp {
    overflow: hidden;
}
.ingridients__slider-list {
    height: 700px;
    position: relative;
    display: flex;
    right: 0;
    transition: all 1s;
}
.ingridients__slider-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    flex: 1;
    transition: all 1s;
}

.ingridients__pages {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}
.left {
    transform: rotate(90deg);
}
.right {
    transform: rotate(-90deg);
}







.ingridients__main-pictures {
    display: flex;
    align-items: center;
}
.main__pictures-link {
    display: flex;
    position: absolute;
    top: 0;
    flex-direction: column;
}
.main__pictures-img {
    //width: 100%;
    //height: 100%;
}
.main__pictures-txt {
    color: #ffffff;
    font-family: 'gagalin';
    font-size: rem(14px);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.ingridients__main-burger {
    display: flex;
}
.ingridients__main-burger-img {
    display: flex;
    width: 100%;
    //height: 100%;
}
.ingridients__main-kkal {
    display: flex;
    position: absolute;
    bottom: 0;
    flex-direction: column;

    @include tablets {
        
    }
    @include phones {
        display: none;
    }
}
.main__kkal-img {
    width: 100%;
    height: 100%;
}
.opacity_mod {
    opacity: 0.6;
}
.ingridients__main-description {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    
    @include phones {
        max-width: 100%;
    }
} 
.ingridients__main-description-title {
    display: flex;
    padding-bottom: rem(15px);
    color: #ffffff;
    font-family: 'gagalin';
    font-size: rem(72px);
    font-weight: 400;
    text-transform: uppercase;
}
.ingridients__main-description-txt {
    display: flex;
    color: #ffffff;
    font-family: 'ubuntu';
    font-size: rem(16px);
    font-weight: 300;
}
.ingridients__main-description-container {
    display: flex;
    position: relative;

    @include tablets {
        flex-direction: column;
    }
    @include phones {
        flex-direction: column;
    }
}    
.main-discription-container-titles {
    display: flex;
}
.ingridients__main-description-price {
    display: flex;
    padding: 0;
    margin: 0;
    padding-right: rem(5px);
    color: #e35028;
    font-family: 'gagalin';
    font-size: rem(72px);
    font-weight: 400;
    letter-spacing: rem(-1.79px);
}  
.description__price {

    margin-top: rem(40px);
    font-size: rem(32px);
}
.ingridients__main-description-button {
    margin-top: rem(35px);
    width: rem(97px);
    height: rem(37px);
    background-color: #e45028;
    border: none;
    border-radius: rem(4px);
    color: #ffffff;
    font-family: 'ubuntu';
    font-size: rem(13px);
    font-weight: 500;
    text-transform: uppercase;

    @include tablets {
        margin: 0;
    }
    @include phones {
        margin: 0;
    }
}