.ingredients {
  display: flex;
  position: relative;
  background-image: url("../img/background_3.png");
  background-repeat: no-repeat;
  background-size: cover; }

.ingredients__container {
  display: flex;
  height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }

.ingridients__arrowlink {
  display: flex;
  transform: rotate(90deg); }

.left {
  transform: rotate(-90deg); }

.ingridients__arrow-img {
  display: flex;
  position: relative; }

.ingridients__main {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 80%; }
  @media screen and (max-width: 480px) {
    .ingridients__main {
      flex-direction: column; } }

.ingridients__main-pictures {
  display: flex;
  align-items: center; }

.main__pictures-link {
  display: flex;
  position: absolute;
  top: 0;
  flex-direction: column; }

.main__pictures-img {
  width: 100%;
  height: 100%; }

.main__pictures-txt {
  color: #ffffff;
  font-family: 'gagalin';
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center; }

.ingridients__main-burger {
  display: flex; }

.ingridients__main-burger-img {
  width: 100%;
  height: 100%; }

.ingridients__main-kkal {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: column; }
  @media screen and (max-width: 480px) {
    .ingridients__main-kkal {
      display: none; } }

.main__kkal-img {
  width: 100%;
  height: 100%; }

.opacity_mod {
  opacity: 0.6; }

.ingridients__main-description {
  display: flex;
  flex-direction: column;
  max-width: 50%; }
  @media screen and (max-width: 480px) {
    .ingridients__main-description {
      max-width: 100%; } }

.ingridients__main-description-title {
  display: flex;
  padding-bottom: 0.9375rem;
  color: #ffffff;
  font-family: 'gagalin';
  font-size: 4.5rem;
  font-weight: 400;
  text-transform: uppercase; }

.ingridients__main-description-txt {
  display: flex;
  color: #ffffff;
  font-family: 'ubuntu';
  font-size: 1rem;
  font-weight: 300; }

.ingridients__main-description-container {
  display: flex;
  position: relative; }
  @media screen and (max-width: 768px) {
    .ingridients__main-description-container {
      flex-direction: column; } }
  @media screen and (max-width: 480px) {
    .ingridients__main-description-container {
      flex-direction: column; } }

.main-discription-container-titles {
  display: flex; }

.ingridients__main-description-price {
  display: flex;
  padding: 0;
  margin: 0;
  padding-right: 0.3125rem;
  color: #e35028;
  font-family: 'gagalin';
  font-size: 4.5rem;
  font-weight: 400;
  letter-spacing: -0.111875rem; }

.description__price {
  margin-top: 2.5rem;
  font-size: 2rem; }

.ingridients__main-description-button {
  margin-top: 2.1875rem;
  width: 6.0625rem;
  height: 2.3125rem;
  background-color: #e45028;
  border: none;
  border-radius: 0.25rem;
  color: #ffffff;
  font-family: 'ubuntu';
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .ingridients__main-description-button {
      margin: 0; } }
  @media screen and (max-width: 480px) {
    .ingridients__main-description-button {
      margin: 0; } }

/*# sourceMappingURL=ingredients.css.map */
