@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
* {
  box-sizing: border-box; }

html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

html,
body {
  font-family: 'ubuntu';
  font-weight: 500;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

p {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.container {
  display: flex;
  margin: 0 auto;
  position: relative;
  width: 95%;
  max-width: 61.25rem;
  overflow: hidden;
  flex-direction: column; }

.button {
  display: block;
  width: 97px;
  height: 35px;
  border-radius: 5px;
  border: 0;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  outline: none; }

.title {
  display: block;
  color: #f9b43b;
  font-family: 'gagalin';
  font-size: 72px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 25px; }

.wrapper {
  position: relative;
  min-height: 100%;
  width: 100%;
  overflow: hidden; }

a {
  text-decoration: none; }

.intro {
  display: flex;
  width: 100%;
  margin: 0;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  background-image: url("../img/background_1.png");
  background-repeat: no-repeat;
  background-size: cover; }

.intro__container {
  display: flex;
  justify-content: space-around;
  padding-top: 0.75rem;
  flex-direction: row; }

.intro__logo {
  display: flex; }

.intro__logo-link {
  display: inline-block; }

.intro__logo-img {
  display: inline-block; }

.intro__menu {
  display: flex; }
  @media screen and (max-width: 768px) {
    .intro__menu {
      display: none; } }

.menu__list {
  display: flex;
  margin: 1.25rem 0 0 0;
  padding: 0;
  align-items: center; }

.menu__item {
  display: flex;
  margin-right: 0.625rem; }

.menu__link {
  display: inline-flex;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #fff;
  padding-right: 0.3125rem; }

.menu__item::after {
  display: inline-block;
  content: "";
  height: 0.25rem;
  width: 0.25rem;
  border: 1px #fff solid;
  border-radius: 0.3125rem;
  background-color: #fff;
  vertical-align: middle;
  margin-top: 0.3125rem; }

.menu__item:last-child:after {
  display: none; }

.menu__item:last-child {
  margin-right: 0; }

.menu__list:last-child {
  margin-right: 0; }

.intro__button {
  display: flex;
  margin-top: 0.8125rem;
  height: 2.1875rem;
  margin-right: 3.125rem; }

.intr__button {
  background-color: #e45028; }

.intro__maincontent {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  @media screen and (max-width: 768px) {
    .intro__maincontent {
      flex-direction: column;
      text-align: center;
      top: 0;
      padding: 0 23%; } }
  @media screen and (max-width: 480px) {
    .intro__maincontent {
      top: 0;
      padding: 5% 12%; } }

.intro__maincontent-picture {
  display: flex;
  justify-content: center; }

.intro__maincontent-img {
  display: flex;
  position: relative;
  z-index: 2;
  max-width: 100%; }

.intro__maincontent-img::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -3;
  background-image: url("./img/intro__splash.png") center center;
  background-repeat: no-repeat; }

.intro__maincontent-descr {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 0.9375rem;
  max-height: 100%; }
  @media screen and (max-width: 768px) {
    .intro__maincontent-descr {
      padding: 0 20%; } }

.intro__title {
  display: flex;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .intro__title {
      margin: 0;
      padding: 0;
      font-size: 4.375rem; } }
  @media screen and (max-width: 480px) {
    .intro__title {
      font-size: 4.0625rem; } }

.intro__maincontent-text {
  display: block;
  padding: 0;
  margin: 0;
  font-family: 'lifehack';
  color: #ffffff;
  font-weight: 500;
  letter-spacing: -0.101875rem;
  font-size: 4.0625rem;
  line-height: 3.75rem; }
  @media screen and (max-width: 768px) {
    .intro__maincontent-text {
      font-size: 3.9375rem; } }
  @media screen and (max-width: 480px) {
    .intro__maincontent-text {
      font-size: 3.375rem; } }

.arrowscroll-link {
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 0.625rem; }

.arrowscroll-triangle {
  position: relative;
  width: 1.8125rem;
  height: 0.875rem; }

.hamburger {
  top: 0.375rem;
  position: fixed;
  right: 1.875rem;
  top: 1.875rem;
  height: 1.375rem;
  align-items: center;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger {
      display: inline-flex; } }
  .hamburger .hamburger__menu, .hamburger .hamburger__menu:before, .hamburger .hamburger__menu:after {
    background: #fff;
    width: 1.5rem;
    height: 0.3125rem;
    border-radius: 0.1875rem; }
  .hamburger .hamburger__menu:before, .hamburger .hamburger__menu:after {
    content: "";
    display: block;
    position: absolute; }
  .hamburger .hamburger__menu:before {
    top: 0; }
  .hamburger .hamburger__menu:after {
    bottom: 0; }

.pagination {
  display: flex;
  position: fixed;
  right: 20px;
  top: 90px;
  z-index: 10; }
  @media screen and (max-width: 768px) {
    .pagination {
      display: none; } }

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column; }

.pagination-item {
  display: block;
  margin-bottom: 15px;
  width: 16px;
  height: 16px; }
  .pagination-item:last-child {
    margin: 0; }

.pagination-block {
  border: 1px #ffffff solid;
  border-radius: 4px;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  margin-left: 4px;
  margin-top: 4px; }

.pagination-link {
  display: block;
  width: 7px;
  height: 7px; }

.pagination-active {
  border: 1px #ffffff solid;
  border-radius: 9px; }

.bestpage {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/backgrounf_2.png");
  background-repeat: no-repeat;
  background-size: cover; }

.bestpage__container {
  display: flex;
  vertical-align: middle;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .bestpage__container {
      justify-content: center; } }
  @media screen and (max-width: 480px) {
    .bestpage__container {
      margin-top: 0.625rem; } }

.bestpage__title-text {
  display: block;
  margin: 8.3125rem 0 1.25rem 0;
  color: #2f3234; }
  @media screen and (max-width: 480px) {
    .bestpage__title-text {
      text-align: center;
      margin: 0;
      padding: 0; } }

.bestpage__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex-direction: row; }
  @media screen and (max-width: 480px) {
    .bestpage__list {
      flex-direction: column;
      text-align: center; } }

.bestpage__item {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column; }
  @media screen and (max-width: 480px) {
    .bestpage__item {
      flex-direction: row;
      margin-bottom: 1.25rem; }
      .bestpage__item:last-child {
        margin-bottom: 0; } }

.bestpage__item-container-img {
  display: flex;
  position: relative;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .bestpage__item-container-img {
      margin-right: 0.625rem;
      min-width: 6.875rem; } }

.bestpage__item-pict {
  text-align: center; }
  @media screen and (max-width: 480px) {
    .bestpage__item-pict {
      max-width: 12.5rem; } }

.bestpage__item-container {
  display: flex;
  flex-direction: column; }

.bestpage__item-title {
  color: #2f3234;
  margin-bottom: 0.625rem;
  text-align: center; }

.bestpage__item-txt {
  display: block;
  margin: 0;
  text-align: left;
  opacity: 0.8;
  color: #2f3234;
  font-family: 'ubuntu';
  font-size: 0.875rem;
  font-weight: 300; }

.ingredients {
  display: flex;
  position: relative;
  background-image: url("../img/background_3.png");
  background-repeat: no-repeat;
  background-size: cover; }

.ingredients__container {
  display: flex;
  height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }

.ingridients__arrowlink {
  display: flex;
  transform: rotate(90deg); }

.left {
  transform: rotate(-90deg); }

.ingridients__arrow-img {
  display: flex;
  position: relative; }

.ingridients__main {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 80%; }

.ingridients__main-item {
  display: flex; }
  @media screen and (max-width: 480px) {
    .ingridients__main-item {
      flex-direction: column; } }

.ingridients__main-pictures {
  display: flex;
  align-items: center; }

.main__pictures-link {
  display: flex;
  position: absolute;
  top: 0;
  flex-direction: column; }

.main__pictures-img {
  width: 100%;
  height: 100%; }

.main__pictures-txt {
  color: #ffffff;
  font-family: 'gagalin';
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center; }

.ingridients__main-burger {
  display: flex; }

.ingridients__main-burger-img {
  width: 100%;
  height: 100%; }

.ingridients__main-kkal {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: column; }
  @media screen and (max-width: 480px) {
    .ingridients__main-kkal {
      display: none; } }

.main__kkal-img {
  width: 100%;
  height: 100%; }

.opacity_mod {
  opacity: 0.6; }

.ingridients__main-description {
  display: flex;
  flex-direction: column;
  max-width: 50%; }
  @media screen and (max-width: 480px) {
    .ingridients__main-description {
      max-width: 100%; } }

.ingridients__main-description-title {
  display: flex;
  padding-bottom: 0.9375rem;
  color: #ffffff;
  font-family: 'gagalin';
  font-size: 4.5rem;
  font-weight: 400;
  text-transform: uppercase; }

.ingridients__main-description-txt {
  display: flex;
  color: #ffffff;
  font-family: 'ubuntu';
  font-size: 1rem;
  font-weight: 300; }

.ingridients__main-description-container {
  display: flex;
  position: relative; }
  @media screen and (max-width: 768px) {
    .ingridients__main-description-container {
      flex-direction: column; } }
  @media screen and (max-width: 480px) {
    .ingridients__main-description-container {
      flex-direction: column; } }

.main-discription-container-titles {
  display: flex; }

.ingridients__main-description-price {
  display: flex;
  padding: 0;
  margin: 0;
  padding-right: 0.3125rem;
  color: #e35028;
  font-family: 'gagalin';
  font-size: 4.5rem;
  font-weight: 400;
  letter-spacing: -0.111875rem; }

.description__price {
  margin-top: 2.5rem;
  font-size: 2rem; }

.ingridients__main-description-button {
  margin-top: 2.1875rem;
  width: 6.0625rem;
  height: 2.3125rem;
  background-color: #e45028;
  border: none;
  border-radius: 0.25rem;
  color: #ffffff;
  font-family: 'ubuntu';
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .ingridients__main-description-button {
      margin: 0; } }
  @media screen and (max-width: 480px) {
    .ingridients__main-description-button {
      margin: 0; } }

.team {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url("../img/backg_team.png");
  background-repeat: no-repeat;
  background-size: cover; }

.team__container {
  display: block;
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: rgba(47, 50, 52, 0.9); }
  @media screen and (max-width: 768px) {
    .team__container {
      display: flex;
      left: 0;
      width: 100%;
      align-items: center; } }

.team__container-wrap {
  display: block;
  padding: 15% 0 0 15%; }
  @media screen and (max-width: 768px) {
    .team__container-wrap {
      padding: 10% 0; } }

.team__title {
  margin-bottom: 2.875rem;
  padding: 0; }

.accordeon {
  display: flex;
  flex-direction: column; }

.accordeon__item {
  display: block;
  margin-bottom: 2.1875rem;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .accordeon__item {
      text-align: center; } }

.accordeon__link {
  display: block;
  font-family: 'gagalin';
  color: #fff;
  margin-bottom: 1.0625rem; }
  .accordeon__link:before {
    content: "";
    display: inline-block;
    margin-right: 0.625rem;
    width: 0.5625rem;
    height: 0.5625rem;
    background-image: url("../img/team-triangle.png");
    background-repeat: no-repeat; }
    @media screen and (max-width: 768px) {
      .accordeon__link:before {
        font-size: 1.5rem; } }

.accordeon__container {
  display: flex;
  height: 0;
  flex-direction: row; }
  @media screen and (max-width: 768px) {
    .accordeon__container {
      flex-direction: column;
      align-items: center; } }

.accordeon__avatar {
  width: 6.25rem;
  height: 6.25rem;
  border-color: #fff;
  margin-right: 1.25rem;
  border: 1px solid transparent;
  border-radius: 50%;
  flex-shrink: 0; }
  @media screen and (max-width: 768px) {
    .accordeon__avatar {
      text-align: center;
      margin: 0; } }

.accordion__avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.accordeon__description {
  display: block;
  width: 13rem;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .accordeon__description {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.accordeon__description-title {
  color: #fff;
  margin-bottom: 0.9375rem;
  font-family: 'ubuntu';
  font-weight: 700;
  font-size: 0.875rem; }

.accordeon__description-text {
  color: #fff;
  font-family: ubuntu;
  font-weight: 300;
  font-size: 0.875rem; }

.accordeon__item + .active .accordeon__link {
  color: #f9b43b; }
  .accordeon__item + .active .accordeon__link:before {
    transform: rotate(180deg); }
.accordeon__item + .active .accordeon__container {
  overflow: auto;
  height: 100%; }

.accordeon__item:last-child {
  margin-bottom: 0; }

.menupage {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/background_menu.png");
  background-repeat: no-repeat;
  background-size: cover; }

.menupage__title {
  display: flex;
  position: relative;
  top: 5%;
  left: 5%; }
  @media screen and (max-width: 768px) {
    .menupage__title {
      display: none; } }

.menupage__title-txt {
  color: #ffffff;
  font-family: 'gagalin';
  font-size: 4.5rem;
  font-weight: 400; }

.menupage__container {
  position: absolute;
  display: block;
  right: 0;
  height: 100vh; }
  @media screen and (max-width: 768px) {
    .menupage__container {
      width: 100%;
      display: flex; } }

.menupage__accordeon {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .menupage__accordeon {
      width: 100%;
      justify-content: end; } }

.menupage__accordeon-item {
  display: flex;
  flex-direction: row; }

.active .menupage__accordeon-link-text {
  color: #f9b43b; }

.active .menupage__accordeon-content {
  width: 33.75rem;
  background: #363636;
  opacity: .9; }
  @media screen and (max-width: 768px) {
    .active .menupage__accordeon-content {
      width: 18.75rem; } }
  @media screen and (max-width: 480px) {
    .active .menupage__accordeon-content {
      width: 9.375rem; } }

.menupage__accordeon-link {
  display: block;
  position: relative;
  width: 5rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 2; }
  @media screen and (max-width: 480px) {
    .menupage__accordeon-link {
      width: 4.0625rem; } }

.menupage__accordeon-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .7;
  z-index: -1; }

.menupage__accordeon-link-text {
  position: absolute;
  margin-top: -1.25rem;
  color: #ffffff;
  font-family: 'gagalin';
  font-size: 2.5rem;
  font-weight: 400;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  left: 50%;
  top: 100%;
  text-align: center;
  white-space: nowrap; }

.menupage__accordeon-content {
  height: 100%;
  overflow: hidden;
  width: 0;
  background: rgba(47, 50, 52, 0.93); }
  @media screen and (max-width: 768px) {
    .menupage__accordeon-content {
      display: flex; } }

.menupage__accordeon-content-text {
  padding: 3.125rem 1.875rem 0 1.875rem;
  color: #fff;
  font-family: 'ubuntu';
  font-weight: 300;
  line-height: 2; }
  @media screen and (max-width: 480px) {
    .menupage__accordeon-content-text {
      padding: 3%;
      line-height: 1; } }

.feedback {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: center; }

.feedback__list {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap; }
  @media screen and (max-width: 768px) {
    .feedback__list {
      height: 50%; } }

.feedback__item {
  display: flex;
  position: relative;
  height: 50%;
  width: 25%; }
  @media screen and (max-width: 768px) {
    .feedback__item {
      width: 50%;
      height: 50%; } }

.feedback__item-pict {
  display: flex;
  height: 100%;
  width: 100%;
  object-fit: cover; }

.feedback__item-block {
  display: none; }

.feedback__item-name {
  color: #ffffff;
  font-family: 'gagalin';
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 1; }
  @media screen and (max-width: 768px) {
    .feedback__item-name {
      padding: 1.25rem 1.25rem; } }
  @media screen and (max-width: 480px) {
    .feedback__item-name {
      padding: 1.25rem 1.25rem; } }

.feedback__item-text {
  color: #ffffff;
  font-family: 'ubuntu';
  font-size: 0.875rem;
  line-height: 1.5rem;
  opacity: 1;
  font-weight: 300;
  padding-bottom: 1.25rem; }
  @media screen and (max-width: 768px) {
    .feedback__item-text {
      display: none;
      padding: 1.25rem 1.25rem; } }
  @media screen and (max-width: 480px) {
    .feedback__item-text {
      display: none;
      line-height: 1.125rem; } }

.feedback_button {
  background-color: #2f3234; }
  @media screen and (max-width: 768px) {
    .feedback_button {
      margin: 1.25rem 1.25rem; } }
  @media screen and (max-width: 480px) {
    .feedback_button {
      margin: 1.25rem 1.25rem; } }

.feedback__item:hover .feedback__item-block {
  display: block;
  padding: 0.625rem 0.625rem 0 0.625rem;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 2;
  transition: .9s; }
  @media screen and (max-width: 480px) {
    .feedback__item:hover .feedback__item-block {
      padding: 0.3125rem; } }

.feedback__item:hover::after {
  content: "";
  display: block;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
  width: 100%;
  height: 100%; }

.delivery {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #222222;
  background-image: url("../img/background_delivery.png");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center; }

.delivery__container {
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .delivery__container {
      top: 0; } }
  @media screen and (max-width: 480px) {
    .delivery__container {
      width: 100%;
      padding: 0 5%; } }

.delivery__title-txt {
  text-align: center;
  color: #f9b43b;
  font-family: 'gagalin';
  font-size: 4.5rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2.5rem; }
  @media screen and (max-width: 480px) {
    .delivery__title-txt {
      text-align: left;
      font-size: 3.75rem;
      text-align: center; } }

.delivery__orderform {
  display: flex;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .delivery__orderform {
      flex-direction: column;
      align-items: center; } }

.orderform-address-list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-right: 1.25rem;
  margin-left: 1.25rem; }
  @media screen and (max-width: 768px) {
    .orderform-address-list {
      margin-bottom: 1.25rem; } }

.address-list-row {
  display: flex;
  width: 100%;
  margin-bottom: 0.9375rem; }
  .address-list-row:last-child {
    margin-bottom: 0; }

.address-item {
  display: block;
  margin-right: 1.25rem;
  flex: 1;
  width: 100%; }
  .address-item:last-child {
    margin: 0; }

.address-item-title {
  font-family: 'ubuntu';
  font-size: 0.875rem;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 0.3125rem; }

.address-item-autorization {
  width: 100%;
  height: 2.1875rem;
  border-radius: 0.3125rem;
  border-style: none;
  padding-left: 0.625rem;
  outline-color: #f9b43b; }

.additional-item-autorization {
  width: 100%;
  height: 6.8125rem;
  border-radius: 0.3125rem;
  border-style: none;
  padding-left: 0.625rem;
  padding-top: 0.3125rem;
  outline-color: #f9b43b;
  resize: none; }

.additional-radio {
  margin: 0;
  margin-right: 0.625rem;
  display: none; }

.radio__idicator {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 1px #fff solid;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
  position: relative; }

.additional-radio:checked + .radio__idicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.5rem;
  height: 0.5rem;
  background-color: #e35028;
  border-radius: 50%; }

.additional-radio-txt {
  font-family: 'ubuntu';
  font-size: 0.875rem;
  font-weight: 300;
  color: #ffffff;
  margin-right: 1.25rem; }

.additional-check {
  display: none; }

.checkbox__indicator {
  display: inline-block;
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
  border: 1px #fff solid;
  background-color: #fff;
  border-radius: 0.125rem;
  margin-right: 0.625rem; }

.additional-check:checked + .checkbox__indicator::before {
  content: "\2714";
  position: absolute;
  top: -0.8125rem;
  left: -0.0625rem;
  font-size: 1.25rem;
  color: #e35028; }

.additional-submit-container {
  display: block;
  margin-top: 0.625rem; }

.additional-submit {
  margin-right: 1.25rem;
  width: 6.0625rem;
  height: 2.1875rem;
  background-color: #e35028;
  border-radius: 0.3125rem;
  border: none;
  color: #ffffff; }

.contacts {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/background__map.png");
  background-repeat: no-repeat;
  background-size: cover; }

.footer {
  position: absolute;
  background-color: #111111;
  bottom: 0;
  width: 100%; }

.footer__container {
  display: flex;
  margin: 0.625rem 1.875rem;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media screen and (max-width: 480px) {
    .footer__container {
      justify-content: center; } }

.contacts__address {
  display: block;
  position: relative; }
  @media screen and (max-width: 768px) {
    .contacts__address {
      margin-right: 0.625rem; } }
  @media screen and (max-width: 480px) {
    .contacts__address {
      margin-bottom: 0.9375rem;
      text-align: center; } }

.contacts__address-title {
  margin: 0;
  color: #ffffff;
  font-family: 'ubuntu';
  font-size: 0.875rem;
  font-weight: 300;
  padding-bottom: 0.3125rem; }
  @media screen and (max-width: 480px) {
    .contacts__address-title {
      text-align: center; } }

.contacts__telephone {
  font-family: 'ubuntu';
  color: #e45028;
  font-weight: 700; }
  @media screen and (max-width: 480px) {
    .contacts__telephone {
      justify-content: center; } }

.footer__social {
  display: flex;
  position: relative;
  padding-top: 0.3125rem; }
  @media screen and (max-width: 480px) {
    .footer__social {
      margin-bottom: 1.875rem;
      padding: 0; } }

.social-list {
  display: flex;
  flex-direction: row; }

.social-item {
  display: block;
  margin-right: 1.25rem;
  width: 1.4375rem;
  height: 1.4375rem; }

.social-link {
  justify-content: center;
  align-content: center; }

.social-link:hover .contacts__social-img {
  opacity: 0.5; }

.social-item:last-child {
  margin: 0; }

/*# sourceMappingURL=main.css.map */
