// colors
$white: #fff;
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

// setups
@import "./fonts.scss";
@import "./mixins.scss";

// blocks
@import "./intro.scss";
@import "./bestpage.scss";
@import "./ingredients.scss";
@import "./team.scss";
@import "./menupage.scss";
@import "./feedback.scss";
@import "./delivery.scss";
@import "./contacts.scss";