@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
body {
  font-family: 'ubuntu';
  font-weight: 500;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

p {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.container {
  margin: 0 auto;
  width: 940px; }

.button {
  display: block;
  width: 97px;
  height: 35px;
  border-radius: 5px;
  border: 0;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  outline: none; }

.title {
  display: block;
  color: #f9b43b;
  font-family: 'gagalin';
  font-size: 72px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 25px; }

.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden; }

a {
  text-decoration: none; }

.intro {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  background-image: url("../img/background_1.png");
  background-repeat: no-repeat;
  background-size: cover; }

.intro__container {
  display: flex;
  justify-content: space-between;
  padding-top: 12px; }

.intro__logo {
  display: flex; }

.intro__logo-link {
  display: inline-block; }

.intro__logo-img {
  display: inline-block; }

.intro__menu {
  display: flex; }

.menu__list {
  display: flex;
  margin: 20px 0 0 0;
  padding: 0;
  align-items: center; }

.menu__item {
  margin-right: 10px; }

.menu__item::after {
  display: inline-block;
  content: "";
  height: 4px;
  width: 4px;
  border: 1px #fff solid;
  border-radius: 5px;
  background-color: #fff;
  vertical-align: middle;
  margin-bottom: 5px; }

.menu__item::after:last-child {
  display: none; }

.menu__link {
  display: inline-flex;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  color: #fff;
  padding-right: 5px; }

.intro__button {
  display: flex;
  margin-top: 13px;
  height: 35px; }

.intr__button {
  background-color: #e45028; }

.intro__maincontent {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center; }

.intro__maincontent-picture {
  display: flex;
  padding-left: 97px;
  margin-right: 50px; }

.intro__maincontent-img {
  display: block;
  position: relative;
  z-index: 2; }

.intro__maincontent-img::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -3;
  background-image: url("./img/intro__splash.png") center center no-repeat; }

.intro__maincontent-descr {
  display: flex;
  position: relative;
  flex-direction: column; }

.intro__maincontent-text {
  display: block;
  padding: 0;
  margin: 0;
  font-family: 'lifehack';
  color: #ffffff;
  font-weight: 500;
  letter-spacing: -1.63px;
  font-size: 65px;
  line-height: 60px; }

.pagination {
  display: flex;
  position: fixed;
  right: 20px;
  top: 90px;
  z-index: 10; }

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column; }

.pagination-item {
  display: block;
  margin-bottom: 15px;
  width: 16px;
  height: 16px; }

.pagination-block {
  border: 1px #ffffff solid;
  border-radius: 4px;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  margin-left: 4px;
  margin-top: 4px; }

.pagination-active {
  border: 1px #ffffff solid;
  border-radius: 9px; }

.pagination-link {
  display: block;
  width: 7px;
  height: 7px; }

.arrowscroll-link {
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 20px; }

.arrowscroll-triangle {
  position: relative;
  width: 29px;
  height: 14px; }

.bestpage {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/backgrounf_2.png");
  background-repeat: no-repeat;
  background-size: cover; }

.bestpage__container {
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.bestpage__title-text {
  display: block;
  margin: 133px 0 55px 0;
  padding: 0;
  color: #2f3234;
  font-family: 'gagalin';
  font-size: 72px;
  font-weight: 400; }

.bestpage__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex-direction: row; }

.bestpage__item {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column; }

.bestpage__item-container-img {
  width: 97px;
  height: 89px;
  align-items: center; }

.bestpage__item-pict {
  max-width: 100%;
  max-height: 100%; }

.bestpage__title {
  color: #2f3234; }

.bestpage__item-txt {
  display: block;
  margin: 0;
  padding: 0 10px;
  align-self: flex-end;
  opacity: 0.8;
  color: #2f3234;
  font-family: 'ubuntu';
  font-size: 14px;
  font-weight: 300; }

.ingredients {
  display: flex;
  position: relative;
  width: 100%;
  background-image: url("../img/background_3.png");
  background-repeat: no-repeat;
  background-size: cover; }

.ingredients__container {
  display: flex;
  padding-top: 90px;
  width: 100%;
  height: 100vh;
  flex-direction: row;
  justify-content: center; }

.ingridients__arrowleft {
  display: flex;
  position: relative;
  padding-right: 20px; }

.ingridients__arrowleft-link {
  display: block;
  width: 27px;
  height: 13px;
  margin-top: 17em; }

.ingridients__arrowleft-img {
  display: block;
  position: relative;
  top: 50%;
  transform: rotate(90deg); }

.ingridients__main {
  display: flex;
  position: relative;
  padding-right: 20px; }

.ingridients__main-pictures {
  display: block; }

.ingridients__main-components {
  display: block;
  position: relative;
  width: 90px;
  height: 90px;
  border: 1px #f08c33 solid;
  background-color: #f08c33;
  border-radius: 4px; }

.ingridients__main-components-link {
  display: block;
  position: relative;
  text-decoration: none; }

.ingridients__main-components-img {
  display: block;
  position: relative;
  top: 14px;
  left: 22px;
  padding-bottom: 18px; }

.ingridients__main-components-txt {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: 'gagalin';
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center; }

.ingridients__main-kkal {
  display: block;
  position: relative;
  width: 60px;
  height: 75px; }

.ingridients__main-kkal-img {
  display: block; }

.ingridients__main-kkal-txt {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  opacity: 0.5;
  color: #ffffff;
  font-family: 'gagalin';
  font-size: 14px;
  font-weight: 400; }

.ingridients__main-description {
  display: flex;
  position: relative;
  width: 494px;
  flex-direction: column; }

.ingridients__main-description-title {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 56px;
  color: #ffffff;
  font-family: 'gagalin';
  font-size: 72px;
  font-weight: 400;
  text-transform: uppercase; }

.ingridients__main-description-txt {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 36px;
  color: #ffffff;
  font-family: 'ubuntu';
  font-size: 16px;
  font-weight: 300; }

.ingridients__main-description-container {
  display: flex;
  position: relative;
  flex-direction: row; }

.ingridients__main-description-price {
  display: block;
  padding: 0;
  margin: 0;
  padding-right: 5px;
  color: #e35028;
  font-family: 'gagalin';
  font-size: 72px;
  font-weight: 400;
  letter-spacing: -1.79px; }

.ingridients__main-description-rub {
  display: block;
  padding: 40px 30px 0 0;
  margin: 0;
  color: #e35028;
  font-family: 'gagalin';
  font-size: 30px;
  font-weight: 400; }

.ingridients__main-description-button {
  display: block;
  position: relative;
  margin-top: 35px;
  width: 97px;
  height: 37px;
  background-color: #e45028;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-family: 'ubuntu';
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase; }

.ingridients__arrowright {
  display: flex;
  position: relative; }

.ingridients__arrowright-link {
  display: block;
  width: 27px;
  height: 13px;
  margin-top: 17em; }

.ingridients__arrowright-img {
  display: block;
  position: relative;
  top: 50%;
  transform: rotate(-90deg); }

.team {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url("../img/backg_team.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .team .team__container {
    display: block;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: rgba(47, 50, 52, 0.9); }
    .team .team__container .team__container-wrap {
      display: block;
      padding: 15% 0 0 15%; }
      .team .team__container .team__container-wrap .team__title {
        margin-bottom: 46px;
        padding: 0; }
      .team .team__container .team__container-wrap .accordeon {
        display: flex;
        flex-direction: column; }
        .team .team__container .team__container-wrap .accordeon .accordeon__item {
          display: block;
          margin-bottom: 35px; }
          .team .team__container .team__container-wrap .accordeon .accordeon__item .accordeon__link {
            display: block;
            font-family: gagalin;
            color: #fff;
            margin-bottom: 17px; }
            .team .team__container .team__container-wrap .accordeon .accordeon__item .accordeon__link:before {
              content: "";
              display: inline-block;
              margin-right: 10px;
              width: 9px;
              height: 9px;
              background-image: url("../img/team-triangle.png");
              background-repeat: no-repeat; }
          .team .team__container .team__container-wrap .accordeon .accordeon__item .accordeon__container {
            display: flex;
            height: 0;
            overflow: hidden;
            flex-direction: row; }
            .team .team__container .team__container-wrap .accordeon .accordeon__item .accordeon__container .accordeon__avatar {
              display: block;
              margin-right: 20px;
              border: 1px solid transparent;
              border-radius: 50%;
              overflow: hidden;
              flex-shrink: 0; }
              .team .team__container .team__container-wrap .accordeon .accordeon__item .accordeon__container .accordeon__avatar .accordion__avatar-img {
                width: 100px;
                height: 100px;
                object-fit: cover; }
            .team .team__container .team__container-wrap .accordeon .accordeon__item .accordeon__container .accordeon__description {
              display: block;
              width: 208px; }
              .team .team__container .team__container-wrap .accordeon .accordeon__item .accordeon__container .accordeon__description .accordeon__description-title {
                color: #fff;
                margin-bottom: 15px;
                font-family: ubuntu;
                font-weight: 700;
                font-size: 14px; }
              .team .team__container .team__container-wrap .accordeon .accordeon__item .accordeon__container .accordeon__description .accordeon__description-text {
                color: #fff;
                font-family: ubuntu;
                font-weight: 300;
                font-size: 14px; }
        .team .team__container .team__container-wrap .accordeon .accordeon__item + .active .accordeon__link {
          color: #f9b43b; }
          .team .team__container .team__container-wrap .accordeon .accordeon__item + .active .accordeon__link:before {
            transform: rotate(180deg); }
        .team .team__container .team__container-wrap .accordeon .accordeon__item + .active .accordeon__container {
          height: 100%;
          overflow: auto; }
        .team .team__container .team__container-wrap .accordeon .accordeon__item:last-child {
          margin-bottom: 0; }

.menupage {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url("../img/background_menu.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .menupage .menupage__title {
    display: flex;
    position: absolute;
    margin-top: 5%;
    margin-left: 5%; }
    .menupage .menupage__title .menupage__title-txt {
      color: #ffffff;
      font-family: 'gagalin';
      font-size: 72px;
      font-weight: 400; }
  .menupage .menupage__container {
    position: absolute;
    display: block;
    right: 0;
    height: 100vh; }
    .menupage .menupage__container .menupage__accordeon {
      display: flex;
      flex-direction: row;
      justify-content: end;
      height: 100%; }
      .menupage .menupage__container .menupage__accordeon .menupage__accordeon-item {
        display: flex;
        flex-direction: row;
        width: 80px; }
        .menupage .menupage__container .menupage__accordeon .menupage__accordeon-item .menupage__accordeon-link {
          display: block;
          position: relative;
          width: 500px;
          height: 100%;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat; }
          .menupage .menupage__container .menupage__accordeon .menupage__accordeon-item .menupage__accordeon-link .menupage__accordeon-link-text {
            position: absolute;
            margin-top: -1.25rem;
            color: #ffffff;
            font-family: 'gagalin';
            font-size: 40px;
            font-weight: 400;
            transform: rotate(-90deg) translateY(-50%);
            transform-origin: 0 0;
            left: 50%;
            top: 100%;
            text-align: center;
            white-space: nowrap; }
        .menupage .menupage__container .menupage__accordeon .menupage__accordeon-item .menupage__accordeon-content {
          height: 100%;
          overflow: hidden;
          width: 0; }
        .menupage .menupage__container .menupage__accordeon .menupage__accordeon-item.active .menupage__accordeon-content {
          width: 10%; }

.feedback {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: center; }

.feedback__list {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap; }

.feedback__item {
  display: flex;
  position: relative;
  height: 50%;
  width: 25%; }

.feedback__item-pict {
  display: flex;
  height: 100%;
  width: 100%;
  object-fit: cover; }

.feedback__item-block {
  display: none; }

.feedback__item:hover .feedback__item-block {
  display: block;
  padding: 20px;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  box-sizing: border-box; }

.feedback__item-name {
  color: #ffffff;
  font-family: 'gagalin';
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 1; }

.feedback__item-text {
  color: #ffffff;
  font-family: 'ubuntu';
  font-size: 14px;
  line-height: 24px;
  opacity: 1;
  font-weight: 300;
  padding-bottom: 20px; }

.feedback_button {
  background-color: #2f3234; }

/*# sourceMappingURL=main.css.map */
